@import "../../Constants.scss";

.whale-sighting-page {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2% 94% 4%;
}

.whale-sighting-heading{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    
    background-color: $background;

    @media screen and (max-width: 430px){
        font-size: $titleSizeMobile;
    }
    
    @media screen and (min-width: 431px){
        font-size: $titleSizeTablet;
    }

    @media screen and (min-width: 1100px){
        font-size: $titleSizeDesktop;
    }
}

.whale-sighting-map-view-button,.whale-sighting-list-view-button{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: $button-color;
    width: 200px;
    box-sizing: border-box;
}

.whale-sighting-map-view-button:hover,.whale-sighting-list-view-button:hover{
    border: 0;
    background-color: $button-hover-color;
}

.whale-sighting-filters{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.whale-sighting-sort{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

.page-buttons {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;

    display: flex;
    justify-content: flex-end;
    justify-content: space-around;

    @media screen and (max-width: 430px){
        margin-top: 40%;
    }

    @media screen and (min-width: 1100px){
        margin-top: -4%;
    }
}

.nextlink, .prevlink {
    font-size: 35px;
    color: $dark-font-color;
    text-align: center;

    @media screen and (max-width: 430px){
        margin-left: 5%;
    }
}

.nextlink:hover, .prevlink:hover {
    color: $light-background;
    text-decoration: underline;
    cursor: pointer;
}

