@import "../../Constants.scss";

.whale-sighting-page {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 8% 86% 6%;
    background-color: $darker-background;
}

.whale-sighting-heading{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: $background;
    color: $light-font-color;
    padding: 2%;
    font-size: 2em;

    @media screen and (max-width: 430px){
        font-size: $titleSizeMobile;

        .whale-sighting-page {
            grid-row: 90% 10%;
        }
    }
    
    @media screen and (min-width: 431px){
        font-size: $titleSizeTablet;
    }

    @media screen and (min-width: 1100px){
        font-size: $titleSizeDesktop;
    }
}

button.whale-sighting-map-view-button,.whale-sighting-list-view-button{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    color: $dark-font-color;
    //padding-left: 17%;
    //padding-top:15%;
    background-color: $button-color;
    width: 170px;
    height:60px;
    margin:10px;
    font-size: 15px;
    padding:5px;
    @media screen and (max-width: 430px){
        width: 100px;
        height: 35px;
        font-size: 10px;
        padding: 5px;
    }
}

.whale-sighting-map-view-button:hover,
.whale-sighting-list-view-button:hover{
    background-color: $button-hover-color;
    border: 0;
}

button.whale-sighting-map-view-button:focus,
button.whale-sighting-list-view-button:focus,
button.whale-sighting-map-view-button:focus-visible,
button.whale-sighting-list-view-button:focus-visible
{
    outline:0;
}

.whale-sighting-filters{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.whale-sighting-sort{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

.page-buttons {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;

    @media screen and (max-width: 430px){
        margin-top: 40%;
    }

    @media screen and (min-width: 1100px){
        margin-top: -4%;
    }
}

.nextlink, .prevlink {
    font-size: 35px;
    color: $light-font-color;
    text-align: center;

    @media screen and (max-width: 430px){
        margin-left: 5%;
    }
}

.nextlink:hover, .prevlink:hover {
    color: $light-background;
    text-decoration: underline;
    cursor: pointer;
}

