@import "../../Constants.scss";

$border: 2px solid $darker-background;

main.whale-info{
    background-color: $background;
    margin-top: 24px;
    margin-bottom: 24px;
}

section.whale-info-container {
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: center;
    border: $border;
    background-color: $darker-background;
}

h1.whale-info-header {
    padding-top:20px;
    align-items: center;
    font-size: 2em;
    color:$light-font-color
}

.whale-info-sidebar {
    border: $border;
    width:100%;
    grid-column-start: 1;
    grid-column-end: 1;
    align-items: center;

}

.whale-info-main-info {
    border: $border;
    width:100%;
    grid-column-start: 2;
    grid-column-end: 3;
    align-items: center;
}

.famous-whale-image {
    margin: 0 auto;
    max-width: 98%;
    max-height: 98%;
    object-fit: cover;
    object-position: center;
    top: 50%;
    left: 50%;
}

section.whale-info-content,h2.whale-info-section-header{
    color:$light-font-color;
}

section.whale-info-content{
    padding: $cardPaddingDesktop;
}

@media (max-width: 425px) {
    section.whale-info-container {
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        border: $border;
    }

    .whale-info-sidebar {
        display: none; 
    }
    
    .whale-info-main-info {
        border: $border;
        width:100%;
        grid-column-start: 1;
        grid-column-end: 1;
        align-items: center;
    }
}
