@import "../../Constants.scss";

.sighting-detail {
    padding-top:1px;
    padding-bottom: 10px;
}

p.sighting-header {
    font-size: $subtitleSizeDesktop;
    margin-bottom:2px;
}

.sighting-image {
    height: 15%;
    width: 20%;
}

.sighting-info {
    width: 60%;   
}