@import "../../Constants.scss";

.sighting-detail {
    background-color: $darker-background;
    color: $light-font-color;
    padding-top:1px;
    padding-bottom: 10px;
}

p.sighting-header {
    font-size: $subtitleSizeDesktop;
    margin-bottom:2px;
}

.sighting-image {
    height: 15%;
    width: 20%;
}