@import '../../Constants.scss';

.button-icon {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
}

.image-info-section {
    position: relative;
    background-color: $darker-background;
}

.left-right-home-buttons {
    opacity: 95%;

    :hover {
        cursor: pointer;
        background-color: $darker-background;
    }
}

.main-header {
    text-align: center;
}

.main-image {
    display: block;
    height: 450px;
    overflow: hidden;
    background-color: $darker-background;
    max-width: 1332px;
    width: 70%;
    margin: 0 auto;
    position: relative;
    border-radius: $buttonRadius;

    .main-image-tag {
        margin: 20px auto 20px auto;
        max-width: 98%;
        max-height: 98%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: $buttonRadius;
    }
}

.next-right-button {
    color: $light-font-color;
    position: absolute;
    right: 8%;
    top: 40%;
    padding: 2%;
}

.previous-left-button {
    color: $light-font-color;
    background-color: $darker-background;
    position: absolute;
    left: 8%;
    top: 40%;
    padding: 2%;
}

@media (max-width: 1001px) {
    .next-right-button {
        position: absolute;
        right: -0px;
        top: 35%;
        opacity: 55%;
        padding: 3%;
    }

    .previous-left-button {
        position: absolute;
        left: -0px;
        top: 35%;
        opacity: 55%;
        padding: 3%;
    }
}

@media(max-width: 376px) {
    .next-right-button {
        position: absolute;
        right: -0%;
        opacity: 45%;
        padding: 3%;
    }

    .previous-left-button {
        position: absolute;
        left: -0%;
        opacity: 45%;
        padding: 3%;
    }

    .button-icon {
        width: 20px;
        height: 20px;
        background-color: transparent;
        border-radius: 50%;
    }
}

@media (max-width: 768px) {
    .main-image {
        height: 250px;
    }
}