@import "../../Constants.scss";

main.create-user {
    background-color: $background;
}

h1.createUser-Title {
    color: $light-font-color;
    font-family: $fontType;
    padding-top: $cardPaddingDesktop;
}

.create-user-form {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    height: 380px;
    background: $darker-background;
    padding: $cardPaddingDesktop;
    gap: 1rem;
}

.user-input-div {
    display: flex;
    justify-content: left;
}

.user-input-label {
    width: 130px;
    text-align: left;
    margin-right: 5px;
    color: $light-font-color;
    margin-top:5px;
}

.input-field {
    width: 200px;
    height: 35px;
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: $light-background;
}

.input-field:hover {
    border: solid 2px $light-font-color;
    cursor: pointer;
    margin-top: 24px;
}

.create-user-submit {
    background: $button-color;
    border-radius: $buttonRadius;
    position: absolute;
    bottom: 5%;
    left: 45%;
}

.create-user-submit:hover {
    cursor: pointer;
    background-color: $button-color;
}

@media screen and (max-width: 430px) {
    createUser-Title {
        font-size: $titleSizeMobile;
    }

    .user-input-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .create-user-submit {
        width: 100px;
    }
}