@import "../../Constants.scss";

h1.createUser-Title {
    font-size: $titleSizeDesktop;
    padding-top: 25px;
}

.create-user-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-input-div {
    display: flex;
    justify-content: left;
}

.user-input-label {
    width: 120px;
    text-align: left;
    margin-right: 5px;
}

.input-field {
    height: 20px;
    padding: 10px 15px;
    box-sizing: border-box;
}

.create-user-submit {
    color: $light-font-color;
    border: none;
    width: 120px;
    padding: 10px 20px;
    cursor: pointer;
}

.create-user-submit:hover {
    background-color: #4caf50;
}

@media screen and (max-width: 430px) {
    createUser-Title {
        font-size: $titleSizeMobile;
    }

    .user-input-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .create-user-submit {
        width: 100px;
    }
}