@import "../../App.scss";
@import "../../Constants.scss";

.image-info-section {
    position: relative;
    width: 200;
    margin-bottom: 0px;
}

.home-main-header {
    text-align: center;
    background-color: $default-foreground;
    color:$light-font-color;
    padding-top:20px;
    padding-bottom:20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-welcome-message {
    text-align: center;
}

.main-image {
    height: 200px;
    .main-image-tag {
        margin: 0 auto;
        max-width: 98%;
        max-height: 98%;
        align-items: center;
        display: block;
    }
}

@media(max-width: 320px) {
    .main-image-description {
        height: 100px;
        max-width: 250px;
    }
    .main-image {
        max-height: 200px;
    }
    h1.main-header {
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .main-image {
        height: 250px;
    }
    .main-image-description {
        height: 100px;
    }
    h1.main-header {
        margin-left: 0px;
    }
}
