@import "../App.scss";

@media only screen and (max-width: 430px){
    h1.sighting-form{
        font-size:40px;
    }

    form{
        background: $darker-background;
        position:relative;
        padding:20px;
        height:380px;
    }

    label.create-sighting-label{
        width: 45%;
        position: absolute;
        left: 5%;
        text-align: left;
        margin-right: 5px;
        font-size:15px;
    }
    
    input.create-sighting-input{
        position: absolute;
        width:40%;
        height:20px;
        left: 48%;
        background-color: #9AE5F8;
        border-radius: 5px;
    }

    textarea.create-sighting-input{
        position: absolute;
        width:40%;
        height:50px;
        left: 48%;
        background-color: #9AE5F8;
        border-radius: 5px;
    }

    button#create-sighting-submit{
        background: $button-color;
        border-radius: $buttonRadius;
        position:absolute;
        bottom:5%;
        left:38%;
}
}

body{
    background: $background;
}

h1{
    color:$light-font-color;
}

form{
    background: $darker-background;
    position:relative;
    padding:20px;
    height:380px;
}

label,input{
    display:inline-block;
}

label{
    width: 30%;
    position: absolute;
    left: 20%;
    text-align: left;
    margin-right: 30px;
}

input{
    position: absolute;
    width:30%;
    height:20px;
    left: 45%;
    background-color: #9AE5F8;
    border-radius: 5px;
}

textarea{
    position: absolute;
    width:30%;
    height:50px;
    left: 45%;
    background-color: #9AE5F8;
    border-radius: 5px;
}

button.create-sighting-submit:hover{
    cursor:pointer;
    background-color: rgb(193, 152, 17);
}

input:hover{
    border:solid 2px white;
    cursor:pointer;
}

button.create-sighting-submit{
    background: $button-color;
    border-radius: $buttonRadius;
    position:absolute;
    bottom:5%;
    left:45%;
}
