@import '../../Constants.scss';

.info-table-header {
    display: block;
}

.info-table-subheader {
    padding-bottom: 18px;
}

.sub-header,
.main-header {
    text-align: center;
}

.whale-species-table {
    margin: 0 auto;
    width: 90%;
}

.whale-species-table,
tr.table-header-row,
tr.table-data-row,
th.table-header-item,
td.table-data {
    border: 1.5px solid $background;
    border-collapse: collapse;
}

.species-name {
    font-weight: $fontBold;
}

.species-image-container,
.species-image {
    padding: 4px 4px 2px 4px;
    max-height: 200px;
    max-width: 250px;
}

.table-header-item {
    background-color: $background;
    color: $light-font-color;
    font-size: $subtitleSizeTablet;
    position: sticky;
    top: 0;
}

.species-details-paragraph{
    color: $darker-background;
}

@media(max-width: 430px) {
    .species-image-container,
    .species-image {
        max-height:60px;
        max-width: 80px;
    }

    .species-image{
        padding: 0 1.5px 0 1px;
    }

    .table-data.details{
        line-height: 10px;
        font-size: 10px;
    }
}
