@import "../../Constants.scss";

.header-section {
    background-color: $default-foreground;
    color: $light-font-color;
    font-family: $fontType;
    text-align: center;
    padding-top: 20px;
    margin: 0%;
    height: 12vh;
}

h1.main-header {
    margin: 0;
    top: 50%;
}

.float-container {
    display: flex;
    flex-wrap: wrap;
    background-color: $light-background;
}

.float-child1 {
    background-color: $darker-background;
    color: $light-font-color;
    flex: 1;
}

.float-child2 {
    background-color: $light-background;
    color: $light-font-color;
    align-items: center;
    font-size: $subtitleSizeDesktop;
    flex: 1;
    margin-left: 20px;
}

.main-header {
    text-align: center;
}

@media (max-width: 768px) {
    h1.main-header {
        font-size: $subtitleSizeTablet;
        white-space: nowrap;
    }

    .float-container {
        flex-direction: column;
    }

    .float-child1 {
        font-size: $subtitleSizeTablet;
        flex: 1;
    }

    .float-child2 {
        font-size: $subtitleSizeTablet;
        margin-top: 10px;
        flex: 2;
    }
}

@media (max-width: 600px) {
    .header-section {
        font-size: $titleSizeTablet;
        white-space: nowrap;
        text-align: center;
    }

    h1.main-header {
        align-self: center;
        margin-top: 15px;
        margin-left: 25%;
    }
}

@media(max-width: 375px) {
    .header-section {
        font-size: $titleSizeMobile;
        white-space: nowrap;
        text-align: center;
    }

    h1.main-header {
        margin-left: 15%;
    }

    .float-container {
        flex-direction: column;
    }

    .float-child1 {
        font-size: $subtitleSizeMobile;
        flex: 1;
    }

    .float-child2 {
        font-size: $subtitleSizeMobile;
        flex: 2;
        margin-top: 10px;
    }
}
