@import "../../Constants.scss";

.float-container {
    display: flex;
    flex-wrap: wrap;
}

.float-child1 {
    flex: 1;
}

.float-child2 {
    flex: 1;
    border: 2px solid $darker-background;
    margin-left: 20px;
}

.main-header {
    text-align: center;
}

@media(max-width: 320px) {
    .float-container {
        flex-direction: column;
    }

    .float-child1 {
        flex: 1;
        //border: 2px solid $darker-background;
    }

    .float-child2 {
        flex: 2;
        border: 2px solid $darker-background;
        // margin-left: 0px;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .float-container {
        flex-direction: column;
    }

    .float-child1 {
        flex: 1;
    }

    .float-child2 {
        flex: 2;
        border: 2px solid $darker-background;
        //margin-left: 0px;
        margin-top: 10px;
    }
}