@import "../../Constants.scss";

.tripplanner-main {
    background-color: $default-foreground;
}

.tripplanner-container {
    color: $light-font-color;
    font-family: $fontType;
    height: auto;
    width: 1440px;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
    width: 100%;
}

.tripplanner-search {
    display: grid;
    align-items: center;
}

.tripplanner-map {
    background-color: $light-background;
    width: 40%;
    display: grid;
    align-items: center;
    box-shadow: 0 4px 4px 0 $light-font-color;
    transition: 0.3s;
    border-radius: 5px;
}

.tripplanner-map:hover {
    box-shadow: 0 8px 16px 0 $light-font-color;
}

.tripplanner-table {
    width: 80%;
    display: grid;
    align-items: center;
}

@media (max-width: 430px) {
    .tripplanner-map {
        display: none;
    }

    .tripplanner-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}