@import "../../Constants.scss";

.tripplanner-main {
    background-color: $darker-background;
}

.tripplanner-container {
    color: $light-font-color;
    font-family: $fontType;
    height: auto;
    width: 100%;
    max-width: none;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
}

.tripplanner-header {
    background-color: $default-foreground;
    color: $light-font-color;
    padding-bottom: 5px;
    margin: 2px;
}

.tripplanner-search {
    display: grid;
    align-items: center;
}

.tripplanner-map {
    background-color: $light-background;
    width: 40%;
    display: grid;
    align-items: center;
    box-shadow: 0 4px 4px 0 $light-font-color;
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 5px;
}

.tripplanner-table {
    width: 100%;
    margin-left: 5px;
    align-items: center;
    display: grid;
}

@media (max-width: 430px) {
    .tripplanner-map {
        display: none;
    }

    .tripplanner-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .tripplanner-table {
        width: 100%;
    }
}