@import "../../Constants.scss";

body {
    background-color: $default-foreground;
}

.tripplanner-container {
    color: $light-font-color;
    font-family: $fontType;
    height: auto;
    width: 1440px;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
}

.tripplanner-search {

    display: grid;
    align-items: center;
}

.tripplanner-map {
    width: 50%;
    display: grid;
    align-items: center;
}

.tripplanner-table {

    width: 80%;
    display: grid;
    align-items: center;
}

@media (max-width: 425px) {

    .tripplanner-map {
        display: none;
    }

    .tripplanner-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}
