$background: #043949;
$darker-background: #022A39;
$default-foreground: #0C4A5B;
$button-color: #ffcd70;
$dark-font-color: #090B0C;
$light-font-color: #f0f2f5;

// FONTS
$fontType: Helvetica;
$fontTypeBackup: "Source Sans Pro";

$fontLight: 300;
$fontNormal: 400;
$fontBold: 600;

$titleSizeMobile: 24px;
$subtitleSizeMobile: 20px;
$buttonSizeMobile: 20px;
$bodySizeMobile: 14px;
$secondarySizeMobile: 10px;

$titleSizeTablet: 24px;
$subtitleSizeTablet: 20px;
$buttonSizeTablet: 20px;
$bodySizeTablet: 14px;
$secondarySizeTablet: 10px;

$titleSizeDesktop: 32px;
$subtitleSizeDesktop: 24px;
$buttonSizeDesktop: 24px;
$bodySizeDesktop: 16px;
$secondarySizeDesktope: 12px;

// SPACING
$guttersMobile: 24px;
$cardSeparationMobile: 24px;
$sectionSpacingMobile: 40px;
$cardPaddingMobile: 24px;

$guttersTablet: 32px;
$cardSeparationTablet: 32px;
$sectionSpacingTablet: 48px;
$cardPaddingTablet: 24px;

$guttersDesktop: 48px;
$cardSeparationDesktop: 48px;
$sectionSpacingDesktop: 80px;
$cardPaddingDesktop: 24px;

// BUTTON SPECS
$buttonRadius: 10px;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  // width: 1280px;
}

