// Possible colour schemes - see the colourSchemeChecker.txt 
//Currently using 1. 
$background: #043949;
$darker-background: #022A39;
$default-foreground: #0C4A5B;
$button-color: #ffcd70;
$dark-font-color: #090B0C;
$light-font-color: #f0f2f5;
//make primary colour brighter
//next, try out the colours like on the trello board

$fontType: Helvetica;
$fontTypeBackup: "Source Sans Pro";

.colours-test-block {
    width: 100px;
    height: 100px;
}

#colour-block-1 {
    background-color: $background;
    color: $light-font-color
}

#colour-block-2 {
    background-color: $darker-background
}

#colour-block-3 {
    background-color: $default-foreground;
}

#colour-block-4 {
    background-color: $button-color;
    color: $dark-font-color

}