.footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid blue;
    width: 100%;
    height: 140px;
}

.footer-left,
.footer-right {
    width: 48%;
    height: 120px;
    border: 1px solid blue;
}